# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
env/
venv/

# Environment and secrets
.env
firebase_credentials.json

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Render build cache
render.yaml
